html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import 'admin-bar.css';
@import 'dashicons.css';
@import 'elementor-icons-css';

@import 'elementor-common-css';

@import 'wp-block-library-css';

@import 'hello-elementor-css';

@import 'hello-elementor-theme-style-css';

@import 'elementor-frontend-css';

@import 'elementor-post-8-css';

@import 'elementor-global-css';

@import 'elementor-pos-5-css';
